{% load static %}

<!DOCTYPE html>
    <html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>My Apps</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hosting/css/style.css' %}">
    </head>
    <div class="background-image" >
        <body>
            <header>
<!--                 <img src="{% static 'hosting/images/raise.png' %}" /> -->
                <strong><p style="color:Blue;">RiaseUp2020</p></strong>
                <nav>
                    <ul>
                        <li><a href="/hosting">Home</a></li>
                        <li><a href="/writers">Contact Us</a></li>
                        
                        {% if user.is_authenticated %}
                            <li> <a a href='/hosting/logout'>Hello, {{user.username}}(Logout)</a></li>
                        {% else %} 
                            <li><a href='/hosting/login'>Login</a></li>
                            <li><a href='/hosting/register'>Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        
        {% block content %}{% endblock content %}
      
        </body>
    </div>
</html>