
{% extends "hosting/base.html" %}
{% load static %}

{% block content %}
{% if error %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/css/style.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <style>
    </style>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">
                    <center><p style="text-align:center; color:Yellow">
               Say hello to a wide range of apps.
               Experience the apps & do write back to us.<br>
               STAY CONNECTED FOR MORE
           </p></center>
                </h2>
            </div>
        </div>
    </section>
    <br>
    <h2>
        <p style="text-align:center;">Products</p>
    </h2>
  
    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
     <!-- First Photo Grid-->
        <a href="/covid19/">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/corona_21.jpg' %}" alt="covid19" style="width:60%">
                <h3>Covid_19 Status</h3>
                <p>Check whats is the status of your state/ut here!</p>
            </div>
        </a>
        
        <a href="/weather">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/weather2.jpg' %}" alt="weather" style="width:60%">
                <h3>Weather of your city!</h3>
                <p>See how it feels like at your city<br> right now!</p>
            </div>
        </a>
        
        <a href="/blog/get_blog">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/blog_1a.png' %}" alt="blog" style="width:60%">
                <h3>Blogs</h3>
                <p>Want to know what is happening<br> here in this site! Go ahead!</p>
            </div>
        </a>

        <a href="http://35.202.65.219/cars/">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/car_parking.png' %}" alt="Sandwich" style="width:60%">
                <h3>Car Parking!</h3>
                <p>Imagine your self as a car parking manager and view the data and analytics with a whole new experience.</p>
            </div>
        </a>

         
    
    </div>
    
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
     <!-- 2nd Photo Grid-->
    
        <a href="/reversegeo/">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/latlong.png' %}" alt="reversegeo" style="width:60%">
                <h3>ReverseGeo</h3>
                <p>Give me latitude and longitude,<br> I will give you address!</p>
            </div>
        </a>
    
         <a href="/studentdb/">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/studentdb.png' %}" alt="studentdb" style="width:60%">
                <h3>Student Data</h3>
                <p>Add and search data here!</p>
            </div>
        </a>
        
        
        <a href="/writers/">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/write.jpg' %}" alt="Salmon" style="width:60%">
                <h3>Write back to us</h3>
                <p>Any queries, feedbacks, ideas write back to us</p>
            </div>
        </a>
        
         <a href="/hosting/analytics">
            <div class="w3-quarter">
                <img src="{% static 'hosting/images/sa.jpg' %}" alt="analytics" style="width:60%">
                <h3>Sites Analytics</h3>
                <p>Want to know what is happening<br> here in this site! Go ahead!</p>
            </div>
        </a>
    </div>


    
  <hr id="about">

  <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
        <h3>About Me, Hrishikesh</h3><br>
        <img src="{% static 'hosting/images/my_pic.jpg' %}" alt="Me" class="w3-image" style="display:block;margin:auto" width="400" height="233">
        <div class="w3-padding-32">
            <h4><b>Python Developer</b></h4>
            <h6><i>With Passion For Good and Efficient Coding </i></h6>
            <p>Experienced working startup product based companies(2+ years) in working with ORM, Designing & Developing RESTful APIs and Database, Writing scalable codes, Versioning, Debugging, Data Extraction/Analysis, Fraud Detection, Data visualisation, Big data. Integrating APIs, Automating Tasks and equipped with understanding of Data Science and Data Analytics.</p>
        </div>
    </div>
  
    <hr>
  
  <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
        <div class="w3-third">
            <h3>Developer</h3>
            <p>Designed, Developed and Deployed by Hrishikesh Gupta<br>hrishi123gupta@gmail.com</p>
      <!--       <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
 -->    </div>
  
        <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul w3-hoverable">
                <li class="w3-padding-16">
                <img src="{% static 'hosting/images/linkedin.png' %}" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large"><a href="https://www.linkedin.com/in/hrishikesh-gupta-22b532151/">Hrishikesh</a></span><br>
                <span>Connect here</span>
                </li> 
            </ul>
        </div>

        <div class="w3-third w3-serif">
            <h3>TECH STACKS</h3>
            <p>
            <span class="w3-tag w3-black w3-margin-bottom">Python</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jgango</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flask</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cassandra</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">ELK</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">ML</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Keras</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Linux</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Seaborn</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Pandas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">GIT</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">GCP</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">MongoDB </span>
            </p>
        </div>
    </footer>


{% endblock content %}